<%= title "About Us" %>
<!doctype html>

<html lang="en">
    <main role="main" class="inner cover">
    <h1 class="cover-heading">More is on the way.</h1>
    <p class="lead">We will put more about the website later on.</p>
    <p class="lead">
      <%= link_to "back", root_url, class:"btn btn-primary" %>
      
    </p>
  </main>
  
</html>